body {
    position: relative;
    height: 100vh;
    font-family: "Wallpoet", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-container {
    position: relative;
    height: 30vh;
    margin: 20px;
}

input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 1000px;
    padding: 18px;
    border-radius: 8px;
    font-size: 22px;
}

.keyboard-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keyboard-backpanel {
  position: relative;
  border-radius: 10px;
  padding: 12px;
  border: 2px solid rgb(183, 183, 183);
  display: flex;
  gap: 14px;
  align-items: flex-start;
  width: fit-content;
}

.keyboard-backpanel::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: rgba(222, 222, 222, 0.5);
    border-radius: 15px;
    z-index: -1;
}

.keyboard-backpanel > section:first-child > div {
    display: flex;
    align-items: center;
}

.keyboard-backpanel > section:first-child {
   flex: 0 0 auto;
}

.keyboard-backpanel > section:last-child {
  flex: 0 0 auto;
}

button {
  position: relative;
  border: none;
  width: 55px;
  height: 55px;
  text-decoration: none;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  color: gray;
  margin: 7px;
  padding: 3px;
  cursor: pointer;
  border-radius: 18px;
  transition: top 0.05s ease, box-shadow 0.05s ease;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

button:active {
  transform: translateY(3px);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

button::before {
  content: "";
  position: absolute;
  inset: -6px;
  background: rgba(182, 185, 178, 0.5);
  border-radius: 5px;
  z-index: -1;
}

.tab {
    width: 90px;
}

.backspace {
    width: 125.5px;
}

.backslash {
    width: 89px;
}

.capslock {
    width: 110px;
}

.enter {
    width: 138px;
}

.shift-left {
    width: 144px;
}

.shift-right {
    width: 104px;
}

button.shift-active {
  background-color: #092411;
  color: inherit;
}

button[data-shift]::after {
  content: attr(data-shift);
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 10px;
  opacity: 0.7;
}

.btn-cwa {
    width: 74px;
}
.space {
    width: 412px;
}
.brown {
    background-color: rgb(77, 59, 31);
}
.brown::before {
    content: "";
    position: absolute;
    inset: -5px;
    background-color: rgb(68, 56, 36);
    border-radius: 5px;
    z-index: -1;
}

.green {
    background-color: rgb(38, 68, 38);
}

.green::before {
    content: "";
    position: absolute;
    inset: -5px;
    background-color: rgb(14, 52, 21);
    border-radius: 5px;
    z-index: -1;
}

.numpad-container {
    display: block;
}

.light-indicator-container{
    background-color: rgb(223, 223, 221);
    height: 64px;
    margin: 0 0 4px 0;
    padding: 8px;
    border-radius: 9px;
    box-shadow: 0 0 6px 4px rgb(183, 183, 183);
}

.light-indicator {
    background-color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 6px;
}

span {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: #2a2a2a;
    border-radius: 6px;
}

span.light-on {
    background-color: greenyellow;
    box-shadow: 0 0 8px greenyellow;
}

span h5 {
    margin-left: 15px;
    padding-left: 2px;
}

.numpad-keys {
    position: relative;
}

.numpad-keys > div {
    display: flex;
    align-items: center;
}

.plus {
    position: absolute;
    right: 0;
    top: 70px; 
    height: 125px;
}

.zero {
    width: 125.5px;
}

.num-enter {
    position: absolute;
    right: 0;
    top: 210px; 
    height: 125px;
}