* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 7px;
  background-color: rgb(236, 233, 229);
  border-radius: 10px;
  border: none;
}

button::before {
  content: "";
  position: absolute;
  inset: -7px;
  background: rgba(236, 241, 230, 0.5);
  z-index: -1;
}

.backspace {
    width: 100px;
}
.enter {
    width: 130px;
}
.shift-left {
    width: 140px;
}
.shift-right {
    width: 120px;
}
.space {
    width: 300px;
}
.brown {
    background-color: rgb(97, 76, 44);
}
.green {
    background-color: rgb(12, 61, 12);
}