body {
    position: relative;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.keyboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    max-width: 1200px; 
}

button {
  position: relative;
  border: none;
  width: 55px;
  height: 55px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 8px 6px;
  cursor: pointer;
  border-radius: 12px; 
}

button::before {
  content: "";
  position: absolute;
  inset: -7px;
  background: rgba(182, 185, 178, 0.5);
  z-index: -1;
}

.tab {
    width: 90px;
}

.backspace {
    width: 126px;
}

.backslash {
    width: 91px;
}

.capslock {
    width: 110px;
}

.enter {
    width: 142px;
}
.shift-left {
    width: 145px;
}
.shift-right {
    width: 106.5px;
}

.btn-cwa {
    width: 70px;
}
.space {
    width: 436px;
}
.brown {
    background-color: rgb(97, 76, 44);
}
.green {
    background-color: rgb(12, 61, 12);
}