button { 
    background-color: rgb(236, 233, 229);
    width: 50px;
    height: 50px;
    border-radius: 13px;
    margin: 3px;
}

.space {
    width: 300px;
    
}
.brown {
    background-color: rgb(97, 76, 44);
}
.green {
    background-color: rgb(12, 61, 12);
}