body {
    position: relative;
    height: 100vh;
    font-family: "Wallpoet", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.keyboard-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px; 
}

.keyboard-backpanel {
  position: relative;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid rgb(183, 183, 183);
}

.keyboard-backpanel::before {
    content: "";
    position: absolute;
    inset: -10px;
    background: rgba(222, 222, 222, 0.5);
    border-radius: 15px;
    z-index: -1;
}

.keyboard-backpanel > section div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  position: relative;
  border: none;
  width: 55px;
  height: 55px;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  font-weight: bold;
  color: gray;
  margin: 8px 6px;
  padding: 2px;
  cursor: pointer;
  border-radius: 12px;
  top: 0;
  transition: top 0.05s ease, box-shadow 0.05s ease;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.2);
}

button:active {
  top: 3px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

button::before {
  content: "";
  position: absolute;
  inset: -7px;
  background: rgba(182, 185, 178, 0.5);
  border-radius: 6px;
  z-index: -1;
}

.tab {
    width: 90px;
}

.backspace {
    width: 126px;
}

.backslash {
    width: 91px;
}

.capslock {
    width: 110px;
}

.enter {
    width: 142px;
}

.shift-left {
    width: 145px;
}

.shift-right {
    width: 106.5px;
}

button.shift-active {
  background-color: #092411;
  color: inherit;
}

button[data-shift]::after {
  content: attr(data-shift);
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 10px;
  opacity: 0.7;
}

.btn-cwa {
    width: 70px;
}
.space {
    width: 436px;
}
.brown {
    background-color: rgb(77, 59, 31);
}
.green {
    background-color: rgb(38, 68, 38);
}